/*-----------------------------------------------------------------------------
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}


/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body {
    background: #d6d6d6 url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
    color: #000000;
    font-family: 'Lato', sans-serif;
    line-height: 1.7; /* line-height is unit-less */
    font-size: 100%;
    padding: 0 160px 0 160px;
}

#title {
    font-size: 300%;
    margin-bottom: 0;
}
#subtitle {
    margin-top: 0;
}

#content {
    padding-top: 16px;
}

#posts {
    background: white;
    width: 650px;
    float: left;
    margin-right: 16px;
}

.post {
    padding: 20px;
}

.post_title {
    font-size: 200%;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.post_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.post_footer {
    color: #999999;
}

#sidebar {
    background: white;
    width: 325px;
    float: left;
    border-left: 2px solid #999999;
    border-bottom: 2px solid #999999;
    padding: 25px 25px 70px 25px;
}

#sidebar-profile-image {
    border-radius: 50%;
}

.sidebar_title {
    padding-top: 30px;
    font-weight: normal;
    letter-spacing: 2px;
}

#quote {
    font-style: italic;
    border-left: 5px solid darkgray;
    margin: 0 0 0 0;
    padding: 0 0 0 10px;
}

#page_footer {
    clear: both;
    padding-top: 20px;
    font-size: 125%;
}

.links {
    color: orangered;
    text-decoration: none;
    font-weight: 500;
}

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/


